<div class="contenedor">
    <div class="tablero">
      <div class="list-group">
          <ul class="list-group list-group-horizontal">
              <li class="list-group-item" style="background-color: red;">3</li>
              <li class="list-group-item" style="background-color: black;">6</li>
              <li class="list-group-item" style="background-color: red;">9</li>
              <li class="list-group-item" style="background-color: red;">12</li>
              <li class="list-group-item" style="background-color: black;">15</li>
              <li class="list-group-item" style="background-color: red;">18</li>
              <li class="list-group-item" style="background-color: red;">21</li>
              <li class="list-group-item" style="background-color: black;">24</li>
              <li class="list-group-item" style="background-color: red;">27</li>
              <li class="list-group-item" style="background-color: red;">30</li>
              <li class="list-group-item" style="background-color: black;">33</li>
              <li class="list-group-item" style="background-color: red;">36</li>
              <li class="list-group-item" style="background-color: green;">2 to 1</li>
            </ul>
      </div>
      <div class="list-group">
          <ul class="list-group list-group-horizontal">
              <li class="list-group-item" style="background-color: red;">2</li>
              <li class="list-group-item" style="background-color: black;">5</li>
              <li class="list-group-item" style="background-color: red;">8</li>
              <li class="list-group-item" style="background-color: red;">11</li>
              <li class="list-group-item" style="background-color: black;">14</li>
              <li class="list-group-item" style="background-color: red;">17</li>
              <li class="list-group-item" style="background-color: red;">20</li>
              <li class="list-group-item" style="background-color: black;">23</li>
              <li class="list-group-item" style="background-color: red;">26</li>
              <li class="list-group-item" style="background-color: red;">29</li>
              <li class="list-group-item" style="background-color: black;">32</li>
              <li class="list-group-item" style="background-color: red;">35</li>
              <li class="list-group-item" style="background-color: green;">2 to 1</li>
            </ul>
      </div>
      <div class="list-group">
          <ul class="list-group list-group-horizontal">
              <li class="list-group-item" style="background-color: red;">1</li>
              <li class="list-group-item" style="background-color: black;">4</li>
              <li class="list-group-item" style="background-color: red;">7</li>
              <li class="list-group-item" style="background-color: black;">10</li>
              <li class="list-group-item" style="background-color: black;">13</li>
              <li class="list-group-item" style="background-color: red;">16</li>
              <li class="list-group-item" style="background-color: red;">19</li>
              <li class="list-group-item" style="background-color: black;">22</li>
              <li class="list-group-item" style="background-color: red;">25</li>
              <li class="list-group-item" style="background-color: black;">28</li>
              <li class="list-group-item" style="background-color: black;">31</li>
              <li class="list-group-item" style="background-color: red;">34</li>
              <li class="list-group-item" style="background-color: green;">2 to 1</li>
          </ul>
      </div>
      <div class="list-group">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="background-color: green; width: calc(27.6% - 1px);">Primera docena</li>
            <li class="list-group-item" style="background-color: green; width: calc(30.8% - 1px);">Segunda docena</li>
            <li class="list-group-item" style="background-color: green; width: calc(30.5% - 1px);">Tercera docena</li>
        </ul>
    </div>
      <div class="list-group">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item" style="background-color: green; width: calc(15% - 1px);">1-18</li>
            <li class="list-group-item" style="background-color: green; width: calc(14% - 11.1px);">Even</li>
            <li class="list-group-item" style="background-color: green; width: calc(16% - 1px); color: red;">♦</li>
            <li class="list-group-item" style="background-color: green; width: calc(15% - 1px); color: black">♦</li>
            <li class="list-group-item" style="background-color: green; width: calc(15% - 1px);">Odd</li>
            <li class="list-group-item" style="background-color: green; width: calc(15.8% - 1px);">19-36</li>
        </ul>
    </div>
</div>  