<div class="container">
    <div class="fichas-container">
        <img class="ficha-img" src="../../../assets/img/ficha1.png" alt="Ficha 1">
        <img class="ficha-img" src="../../../assets/img/ficha5.png" alt="Ficha 2">
        <img class="ficha-img" src="../../../assets/img/ficha25.png" alt="Ficha 3">
        <img class="ficha-img" src="../../../assets/img/ficha100.png" alt="Ficha 4">
        <img class="ficha-img" src="../../../assets/img/ficha500.png" alt="Ficha 5">
        <img class="ficha-img" src="../../../assets/img/ficha1k.png" alt="Ficha 6">
    </div>
    <div class="pistas-container">
        <div class="pistas">
            <img class="pistas-img" src="../../../assets/img/pistass.png" alt="Pistas">
        </div>
    </div>
</div>



<!-- <div class="ficha">
    <div class="ficha-inner"></div>
</div> -->